<section class="marcas">
  <div class="fila">
      <!-- <div> -->
    <div>
      <img src="{{marcas.aprilia}}" width="75%">
    </div>
    <div>
      <img src="{{marcas.bimota}}" width="75%">
    </div>
    <div>
      <img src="{{marcas.derbi}}" width="75%">
    </div>
    <div>
      <img src="{{marcas.beta}}" width="75%">
    </div>
  </div>
  <div class="fila">
    <div>
      <img src="{{marcas.gasgas}}" width="45%">
    </div>
    <div>
      <img src="{{marcas.honda}}" width="45%">
    </div>
    <div>
      <img src="{{marcas.harley}}" width="45%">
    </div>
    <div>
      <img src="{{marcas.norton}}" width="45%">
    </div>
    <div>
      <img src="{{marcas.ktm}}" width="45%">
    </div>
  </div>
  <div class="fila">
    <div>
      <img src="{{marcas.kawasaki}}" width="75%">
    </div>
    <div>
      <img src="{{marcas.peugeot}}" width="35%">
    </div>
    <div>
      <img src="{{marcas.suzuki}}" width="45%">
    </div>
    <div>
      <img src="{{marcas.bmw}}" width="32%">
    </div>
  </div>
  <div class="fila">
    <div>
      <img src="{{marcas.yamaha}}" width="70%">
    </div>
    <div>
      <img src="{{marcas.triumph}}" width="70%">
    </div>
    <div>
      <img src="{{marcas.ducati}}" width="75%">
    </div>
  </div>
  <div class="fila">
    <div>
      <img src="{{marcas.daelin}}" width="80%">
    </div>
    <div>
      <img src="{{marcas.gilera}}" width="80%">
    </div>
    <div>
      <img src="{{marcas.kimko}}" width="60%">
    </div>
    <div>
      <img src="{{marcas.piaggio}}" width="50%">
    </div>
    <div>
      <img src="{{marcas.sherco}}" width="50%">
    </div>
  </div>
  <div class="fila">
    <div>
      <img src="{{marcas.victory}}" width="40%">
    </div>
    <div>
      <img src="{{marcas.sym}}" width="35%">
    </div>
  </div>
</section>
