<section class="servicios">
  <div>
    <div class="bloqueServicio">
      <img src="{{direccion_suspenciones}}">
      <h3>{{texto_suspenciones}}</h3>
    </div>
    <div class="bloqueServicio">
      <img src="{{direccion_mecanica_general}}">
      <h3>{{texto_mecanica_general}}</h3>
    </div>
    <div class="bloqueServicio">
      <img src="{{direccion_lavado}}">
      <h3>{{texto_lavado}}</h3>
      <h3 class="consulta">(Consulta Condiciones)</h3>
    </div>
  </div>
  <div>
    <div class="bloqueServicio">
      <img src="{{direccion_electricidad}}">
      <h3>{{texto_electricidad}}</h3>
    </div>
    <div class="bloqueServicio">
      <img src="{{direccion_personalizacion}}">
      <h3>{{texto_personalizacion}}</h3>
    </div>
    <div class="bloqueServicio">
      <img src="{{direccion_moto_sustitucion}}">
      <h3>{{texto_moto_sustitucion}}</h3>
      <h3 class="consulta">(Consultar Disponibilidad)</h3>
    </div>

  </div>
  <div>
    <div class="bloqueServicio">
      <img src="{{direccion_capa_pintura}}">
      <h3>{{texto_capa_pintura}}</h3>
    </div>
    <div class="bloqueServicio">
      <img src="{{direccion_itv}}">
      <h3>{{texto_itv}}</h3>
    </div>
    <div class="bloqueServicio">
      <img src="{{direccion_recogida_entrega}}">
      <h3>{{texto_recogida_entrega}}</h3>
      <h3 class="consulta">(Consultar Tarifas)</h3>
    </div>
  </div>
</section>
